<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>welcome</h1>
    <button id = "loginBtn">
      <a href="views/login.ejs">sign in</a>  
    </button>
    <button id = "signUpBtn">
      <a href="views/signUp.ejs">sign up</a>  
    </button>
</body>
</html>