<!DOCTYPE html>
<html lang="en">
  <head>
    <link rel="stylesheet" href="/style.css" />
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Home Page</title>
  </head>
<body>
  <% if (user) { %>
    <div class="welcome-container">
      <h1>Welcome to the app, <%= user.username %>!</h1>
    </div>
    <nav>
      <a href="/auth/sign-out">Sign out</a>
    </nav>
    <div class="auth-links">
      <a href="/auth/animesList">Anime List</a>
    </div>
  <% } else { %>
    <div class="welcome-container">
      <h1>Welcome to the app, guest!</h1>
    </div>
    <nav>
      <a href="/auth/signUp">Sign up</a>
      <a href="/auth/login">Sign in</a>
    </nav>
  <% } %>
</body>
</html>